
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App{ display:flex ;
  flex-wrap: wrap;
  flex-direction: row;

}
.card-container{
	width: 350px;
	height: 420px;
	background: #FFF;
  border-radius: 6px;
  margin: 30px;

	/*transform: translate(-50%,-50%);*/
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
 
  border: 2px solid #444;
}
.avatar{
  z-index: 1;
  border-radius: 50%;
  background-color: blueviolet;
  color: white;
  border: 10px solid white;
  font-size: 38px;
  text-align: centre;
  padding: 23px;
  margin: 20px auto;
  width: 120px;
}